
{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>ironman</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis vero qui mollitia iusto fugit dignissimos consectetur odio ullam ea, maxime, quas tempora! Similique, mollitia tenetur nostrum iusto repellendus fugiat sit.<p></p>
    </div>
    <div class="col-4">
        <img src="assets/img/ironman.jpg" alt="" class="img-thumbnail">
    </div>
    

</div>    
{{> footer }}